.hero-unit{
  background-image: url(https://s3.amazonaws.com/ebolageonode-content/ebolageonode_banner.jpg);
  overflow: visible;
  #width: 1377x;
  #margin-left: -400px;
  #margin-top: -40px;
  z-index:0;
}
