.hero-unit{
  background-image: url(http://i.huffpost.com/gen/2097108/thumbs/o-EBOLA-VIRUS-facebook.jpg);
  overflow: visible;
  width: 1377x;
  margin-left: -400px;
  margin-top: -40px;
  z-index:0;
}
